/* 
  Assignment 10
  Program name: themes.css
  Author: Pasha Bolokhov <pasha.bolokhov@gmail.com>
  Date: March 7, 2015
  Estimated Completion Time: 8 hr
  Actual Completion Time: 12 hr
  Description: 
	The set of classes for the main page content
  Invocation: n/a
  Requires: n/a
 */

.jumbotron {
	background-size: cover;
}

.jumbotron.default {
	background: url(images/default.jpg) no-repeat center center;
}

h1.default, h2.default, p.default {
	color: #CCC;
}

.jumbotron.winter {
	background: url(images/winter.jpg) no-repeat center center;
}

h1.winter, h2.winter, p.winter {
	font-family: Georgia, serif;
	color: Turquoise;
}

.jumbotron.spring {
	background: url(images/spring.jpg) no-repeat center center;
}

h1.spring, h2.spring, p.spring {
	font-family: Arial, sans-serif;
	color: Aqua;
}

.jumbotron.summer {
	background: url(images/summer.jpg) no-repeat center center;
}

h1.summer, h2.summer, p.summer {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: LemonChiffon;
}

.jumbotron.autumn {
	background: url(images/autumn.jpg) no-repeat center center;
}

h1.autumn, h2.autumn, p.autumn {
	font-family: "Palatino Linotype", Palatino, serif;
	color: DarkOrange;
}
