<!--
  Assignment 4
  Program name: log-stat.html
  Author: Pasha Bolokhov <pasha.bolokhov@gmail.com>
  Date: Jan 30, 2014
  Estimated Completion Time: 4 hr
  Actual Completion Time: 8 hr 
  Description:
	A web form for analysis of the Apache log files. The user chooses
	which log file to analyze - either the current one or one of the saved logs.
	The download statistics per IP address is obtained
	by invoking the "log-stat.php" script via a POST request
  Invocation: http://URL/log-stat.html
  Requires: n/a
-->

<html>
  <!-- **** -->
  <!--      -->
  <!-- Head -->
  <!--      -->
  <!-- **** -->
  <head>
    <!-- Title -->
    <title>
      Apache Log Statistics
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">

    <!-- AngularJS needs to be loaded in "head" section -->
    <script src="angular.min.js"></script>
  </head>



  <!-- **** -->
  <!--      -->
  <!-- Body -->
  <!--      -->
  <!-- **** -->
  <body ng-app="logApp" ng-controller="buttonController">
    <div class="container-fluid">



      <!----------------->
      <!-- Page Header -->
      <!----------------->
      <div class="row page-header">
	<div class="col-xs-12">
	  <h1>Apache Log Statistics</h1>
	</div>
      </div>



      <!------------->
      <!-- Buttons -->
      <!------------->
      <div class="row" ng-cloak>
	<div class="col-xs-12">
	  <div class="btn-group">
	    <label class="btn btn-primary" ng-model="log_radio" ng-click="send(0)" btn-radio="'0'">
	      <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
	      Current
	    </label>
	    <label class="btn btn-primary" ng-model="log_radio" ng-click="send(1)" btn-radio="'1'">
	      <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
	      Log 1
	    </label>
	    <label class="btn btn-primary" ng-model="log_radio" ng-click="send(2)" btn-radio="'2'">
	      <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
	      Log 2
	    </label>
	    <label class="btn btn-primary" ng-model="log_radio" ng-click="send(3)" btn-radio="'3'">
	      <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
	      Log 3
	    </label>
	  </div>
	</div> <!-- /col-xs-12 wrapping the form-->
      </div> <!-- /row -->



      <!------------->
      <!-- Results -->
      <!------------->

      <!-- error message -->
      <hr ng-show="showResult || waiting">
      <div class="row" ng-show="showResult && error" ng-cloak>
	<div class="col-xs-12 col-md-8">
	  <alert class="text-center" type="danger" close="showResult=false; results=[]">{{ error }}</alert>
	</div>
      </div> <!-- /div with any HTTP errors -->

      <!-- ... loading ... -->
      <div class="row" ng-show="waiting">
	<div class="col-xs-12 col-md-8">
	  <alert class="text-center" type="warning"><em>...&nbsp;loading&nbsp;...</em></alert>
	</div>
      </div> <!-- /div with ...loading... -->

      <!-- actual results -->
      <div class="row" ng-show="showResult && !error" ng-cloak>
	<div class="col-xs-12 col-md-8">
	  <div class="well well-lg">
	    <ul>
	      <li ng-repeat="ip in addresses">
		Accessed from IP address <em>{{ ip }}</em> and downloaded <em>{{ results[ip] }}</em> bytes
	      </li>
	    </ul>
	  </div>
	</div>
      </div> <!-- /div with the results -->
    </div> <!-- /container-fluid -->

    <!----------------------------------------->
    <!-- JQuery, Bootstrap, and Bootstrap UI -->
    <!----------------------------------------->
    <script src="jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="ui-bootstrap-tpls.min.js"></script>

    <!------------------------------------>
    <!-- Angular module and Controllers -->
    <!------------------------------------>
    <script>
      angular.module('logApp', ['ui.bootstrap']);
      angular.module('logApp').controller("buttonController",
	function($scope, $http) {
		// Initialization
		$scope.log_radio = {
			0: false,
			1: false,
			2: false,
			3: false
      		};
		$scope.showResult = false;
		$scope.error = false;
      		$scope.addresses = [];
		$scope.waiting = false;

		// Function attached to the buttons
		$scope.send = function(log_index) {
			/* Re-initialize */
			$scope.error = false;
			$scope.addresses = [];
			$scope.waiting = true;
			$scope.showResult = false;

      			/* Form a request object */
      			request = { log_no: log_index };

			// Send the request to the PHP script
			$http.post("log-stat.php", request)
			.success(function(data) {
				// process the response
				if (data["error"]) {
					$scope.error = "Error: " + data["error"];
 				} else {
					$scope.results = data;
      					$scope.addresses = Object.keys($scope.results);
				}
			})
			.error(function(data, status) {
				console.log(data);
				$scope.error = "Error accessing the server: " + status + ".";
			})
			.finally(function() { 
				// Indicate that we have an answer
				$scope.waiting = false;
				$scope.showResult = true;
			});
		}	/* send() */
      });
    </script>
  </body>

</html>
